name: Lambda update

on: 
  push:
    branches: ["infra"]

permissions:
  id-token: write
  contents: read

jobs:
  aws:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # fetch full history for git diff

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.OIDC_IAM_ROLE_ARN }}
          aws-region: ap-southeast-1

      - name: Verify AWS identity
        run: aws sts get-caller-identity

      # - name: Check if reminder file updated
      #   id: check_reminder_changed
      #   run: |
      #     if git diff --name-only origin/infra -- iwgh/ap-southeast-1/iwgh-lambda-reminder/lambda/src/; then
      #       echo "changed=true" >> $GITHUB_OUTPUT
      #     else
      #       echo "changed=false" >> $GITHUB_OUTPUT
      #     fi
      #     echo "Reminder changed: $changed"

      - name: Check if reminder file updated
        id: check_reminder_changed
        run: |
          changed=false
          # Compare the last commit with the previous commit
          if [ -n "$(git diff HEAD~1 HEAD -- iwgh/ap-southeast-1/iwgh-lambda-reminder/lambda/src/)" ]; then
            changed=true
          fi
          echo "changed=$changed" >> $GITHUB_OUTPUT
          echo "Reminder changed: $changed"


      - name: Update Reminder Lambda
        if: steps.check_reminder_changed.outputs.changed == 'true'
        run: |
          cd iwgh/ap-southeast-1/iwgh-lambda-reminder/lambda/src
          zip -r lambda-iwgh-reminder.zip .
          aws lambda update-function-code \
            --function-name lambda-iwgh-reminder \
            --zip-file fileb://lambda-iwgh-reminder.zip

      # - name: Check if subscription file updated
      #   id: check_subscription_changed
      #   run: |
      #     if git diff --name-only origin/infra -- iwgh/ap-southeast-1/iwgh-lambda-subscription/lambda/src/; then
      #       echo "changed=true" >> $GITHUB_OUTPUT
      #     else
      #       echo "changed=false" >> $GITHUB_OUTPUT
      #     fi
      #     echo "Subscription changed: $changed"

      - name: Check if subscription file updated
        id: check_subscription_changed
        run: |
          changed=false
          if [ -n "$(git diff HEAD~1 HEAD -- iwgh/ap-southeast-1/iwgh-lambda-subscription/lambda/src/)" ]; then
            changed=true
          fi
          echo "changed=$changed" >> $GITHUB_OUTPUT
          echo "Subscription changed: $changed"


      - name: Update Subscription Lambda
        if: steps.check_subscription_changed.outputs.changed == 'true'
        run: |
          cd iwgh/ap-southeast-1/iwgh-lambda-subscription/lambda/src
          zip -r lambda-iwgh-subscription.zip .
          aws lambda update-function-code \
            --function-name lambda-iwgh-subscription \
            --zip-file fileb://lambda-iwgh-subscription.zip
